

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: chocolate;
    font-family: 'Poppins', sans-serif;
}

/* .navbar{
    overflow: hidden;
} */
nav {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 62);
    position: fixed;
    width: 100%;
    margin: 10px 0;
    /* transition: all .3s ease-in; */
}

nav ul {
    display: flex;
    justify-content: center;
    /* transition: transform 0.3s ease-in; */
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    /* transition: all 0.3s ease-in; */

}

nav ul li a {
    /* list-style: none;
    margin: 0 23px; */
    text-decoration: none;
    color: white;
    /* transition: transform .3s ease-in; */

}

nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.05rem;
    /* transition: transform .3s ease-in; */

}

.left {
    /* overflow: hidden; */
    font-size: 1.5rem;
}

/* .right{
    overflow: hidden;
} */

.firstSection {
    display: flex;
    justify-content: space-around;
    /* margin: 10px 0; */
}

.firstSection div {
    width: 30%;
}

.leftSection{
    margin-top: 80px;
    /* background-color: brown;
    width:0 23px; */
}

.rightSection {
    /* background-color: brown; */
    margin-top: 130px;
    font-size: 2rem;
    /* margin: 20px 0; */
    /* align-items: center; */
}

.rightSection .btn {
    /* display:flex;  */
    width: 100px;
    /* height: 20px; */
    margin: 70px 0;
    padding: .5px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    /* border-radius: 6px; */
    font-size: 14px;
    align-items: center;
    /* cursor:pointer; */
}

.purple {
    color: rgb(170, 107, 228);
}

#element {
    color: rgb(114, 114, 246);
}

@media only screen and (min-width: 991px) and (max-width: 1366px) { 
.body {
    width:30%;
}

}
/* @media screen and (max-width: 1200px) {
    .body {
        width: 100%;
    }
} */

/* @media screen and (min-width: 1200px) {
    .body {
        width: 30%;
    }
} */


.centerT{
    text-align: center;
}

.secondSection {
    align-items: center;
    justify-content: center;
    /* display:flex; */
    color: white;
    /* margin: 150px 0; */
    margin-top: 80px;
    /* margin-left: 50px; */
    
}

.fs1 {
    text-align: center;
    align-items: center;
}

.thirdSection {
    align-items: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    /* margin-left: 70px 0; */
}

.fs2 {
    /* margin: 70px 0; */
    display: flex;
    justify-content: center;
    color: rgb(106, 85, 227);
}

/* .fs3 { 
    
    margin-left: 650px;
    display:flex;
    justify-content: center;
}  */

/* .fs4 {
    margin-left: 760px;
    display: flex;
    justify-content: center;
} */

.column1 {
    float: left;
    width: 46%;
    padding: 10px;
    height: 300px;
    text-align: center;
    height: 50px;
    /* Should be removed. Only for demonstration */
}

.column {
    float: left;
    width: 31%;
    padding: 10px;
    height: 300px;
    text-align: center;
    height: 50px;
    /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
    height: 50px;

}

.forthSection{
    margin-top: 10%;
}

.fifthSection{
    color: white;
    text-align: center;
    align-items: center;
    /* display: flex; */
    justify-content: center;
}

.sixthSection {
    color: white;
    text-align: center;
    font-size: 17px;
    margin-top: 30px;  
}

.seventhSection{
    margin-top: 100px;
    text-align: center;
    color: white;
}

.fs5{
    color: rgb(106, 85, 227);
    margin-left: 5px;
    display: flex;
}

.fs6{
    color: chocolate;
}

.eightSection{
    text-align: center;
    color: white;
}

.devicon-python-plain-wordmark.colored, .devidevicon-python-plain.colored{
    color: #ffd845;
}
[class*="devicon-"],[class^="devicon-"]
{
    font-family: devicon;
    font-size: medium;
    line-height: 1;
}

